body {
    background-color: #2e2e2e;
    font-family: "DM Sans", sans-serif;
    color: #fdfcfb;
}



/* Navigation styles */

nav {
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    padding: 10px 10px;
    z-index: 1000;
    background-color: #1e2126cd;
    box-shadow: 0px 2px 10px #010917;
}

nav ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav li{
    margin: 10px;
}

nav a{
    font-family: "DM Sans", sans-serif;
    font-size: 20px;
    color:#fdfcfb;
    text-decoration: none;
    transition: color 0.3s;
    border-bottom: 0.3s;
    position: relative;
    padding: 10px 10px;
}

nav a:hover {
    color:#43362a;
    border-bottom: 3px solid #fdfcfb;
    background-color: #8e8e8ea6;
}



/* Header styles*/

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    width: 100vw;    
    text-align: center;
    padding: 2rem;
    padding-top: 60px;
    background-image: url("../images/nissangtrblack&white.jpeg");
    background-size: cover;
    background-position: center center;
    background-repeat:no-repeat;
    position: relative;
}

.container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #0000008f;
    z-index: 0;
}

.header-container, .button-container {
    position: relative;
    z-index: 1;
}


h1 {
    font-size: 2.5rem;
    color: #fdfcfb;
    margin-bottom: 10px;
}

h2 {
    font-size: 1.4rem;
    Color: #bd6602; 
    font-family: "DM Sans", sans-serif;
    margin-bottom: 5px;
    border-bottom: 2px solid #2e2e2e;
    display: inline-block;
    padding-bottom: 5px;
}

h3 {
    font-size: 1.2rem;
    Color: #d56c09;
    font-family: "DM Sans", sans-serif;
}

p {
    font-family: "DM Sans", sans-serif;
    font-size: 1.1rem;
    color: #fdfcfb;    
}


/* Header Section Styles - Button */

button {
    text-transform: uppercase;
    position: relative;
    border: none;
    font-size: 18px;
    transform: 0.2s;
    background-color: 0.2s;
    outline: none;
    border-radius: 3px;
    margin: 0 10px;
    padding: 23px 33px;
    border: 3px solid transparent;
}

button :active {
    transform: translate(3px);
}

button ::after, button ::after {
    border-radius: 3px;
}

.shrink.border {
    background-color: transparent;
    color: #fdfcfb;
}

.shrink-border:hover {
    background-color: transparent;
    color: #dfd7d0;
    box-shadow: none;
}


.unleash {
    background-color: #3e3e3e;
    border-radius: 15px;
    padding: 30px;
    margin: 80px auto;
    margin-top: 100px;
    max-width: 800px;
    box-shadow: 0 4px 15px #bd6602a2;
}

/*
.unleash h2 {
    font-size: 24px;
    Color: #bd6602; 
    font-family: "DM Sans", sans-serif;
    margin-bottom: 5px;
    border-bottom: 2px solid #2e2e2e;
    display: inline-block;
    padding-bottom: 5px;
}


.unleash p {
    font-family: "DM Sans", sans-serif;
    font-size: 18px;
    color: #fdfcfb;    
}
*/


/*          Experiences Section         */

.experiences-container {
    display: flex;
    flex-wrap: wrap;
}

/* Option 2
.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); / Creates two columns of equal width /
    grid-gap: 20px; / Optional: Adjusts the gap between grid items /
}*/

.experiences-section {
        flex: 1 1 50%; /* Grow to fill the container, but do not exceed 50% of the container's width */
        /* Optional: Add padding or margins as necessary */
        background-color: #3e3e3e;
        border-radius: 15px;
        padding: 30px;
        margin: 80px auto;
        margin-top: 100px;
        max-width: 800px;
        box-shadow: 0 4px 15px #bd6602a2;
}

@media screen and (max-width: 600px) {
    .experiences-section {
        flex: 1 1 100%; /* Adjusts to a single column on smaller screens */
    }
}

/*      Gallery Section Styles      */

#main-gallery-container {
    background-color: #3e3e3e;
    border-radius: 15px;
    padding: 30px;
    margin: 80px auto;
    margin-top: 100px;
    /*max-width: 800px;*/
    width: 75vw;
    box-shadow: 0 4px 15px #bd6602a2;
}

#gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 75vw;
    margin: 20px auto;
}

figure {
    margin: 5px 10px 40px 10px;
    padding: 0px;
    position: relative;
}

figure img {
    width: 100%;
}

#gallery img {
    padding: 0px;
    border-radius: 15px;
    border: 1px solid #bd6602a2;
    box-shadow: 0 4px 15px #bd6602a2;
    position: relative;
    z-index: 1;
    width: 100%;
    box-sizing: border-box;
    margin: 20px auto;
}

figcaption {
    width:100%;
    text-align: center;
    font-size: 1vw;
    position: absolute;
    padding: 5px auto;
     
}

@media screen and (max-width: 600px) {
    figcaption {
        font-size: 3vw;
    }
    #gallery {
        grid-template-columns: 1fr;
        width: 75vw;
    }
}



/*      Contact Section     */

.contact {
    background-color: #3e3e3e;
    border-radius: 15px;
    padding: 30px;
    margin: 80px auto;
    margin-top: 100px;
    max-width: 800px;
    box-shadow: 0 4px 15px #bd6602a2;
}

.contact form {
    font-family: "DM Sans", sans-serif;
    font-size: 18px;
    color: #fdfcfb;
    line-height: 1.6;
    margin: 0;

}
.contact input {
    font-family: "DM Sans", sans-serif;
    font-size: 18px;
    color: #3e3e3e;
    line-height: 1.6;
    margin: 0;
}



/*          About           */

/*
.unleash {
    background-color: #3e3e3e;
    border-radius: 15px;
    padding: 30px;
    margin: 80px auto;
    margin-top: 100px;
    max-width: 800px;
    box-shadow: 0 4px 15px #bd6602a2;
}
*/

.about-content {
    text-align: center; /* Ensures that the h2 is centered */
    width: 100%; /* Ensures the container takes full width */
    
}

.centered-title {
    margin-top: 100px; /* Adjust as necessary */
}

.two-colummn-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px; /* Space between title and columns */
    /* max-width: 1200px; Adjust based on your design */
    margin-left: 50px; /* Center the container horizontally */
    margin-right: 50px;
    margin-bottom: 50px;

}

.column {
    flex-basis: 48%; /* Adjust the width of the columns as needed */
}

.column img{
    width: 100%;
    height:auto;
    margin: 10px auto;
    border-radius: 10px;
    /*border: 1px solid #bd6602a2;*/
    box-shadow: 0 4px 15px #bd6602a2;
}

.about-section {
    background-color: #3e3e3e;
    border-radius: 10px;
    padding: 30px;
    margin: 15px auto;
    max-width: 800px;
    box-shadow: 0 4px 15px #bd6602a2;
}



/*      Call to Action          */

.call-to-action {
    background-color: #74716f8f;
    text-align: center;
    padding: 50px 20px;
}

.call-to-action h2 {
    margin: 10px 20px 30px;
    text-shadow: 2px 2px 3px #1e2126cd;

}


/* Footer Section Styles */

footer {
    background-color: #1e2126cd;
    padding: 40px 0;
    color: #fdfcfb;
}

.footer-content {
    text-align: center;
    max-width: 100%;
    margin: 0 auto;
}

.footer-links {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 20px    
}

.footer-links a{
    color: #fdfcfb;
    text-decoration: none;
    transform: color 0.3s;    
}

.footer-links a:hover {
    color:#43362a;
    /*
    border-bottom: 3px solid #fdfcfb;
    background-color: #8e8e8ea6;
    */
}

.footer-social {
    margin-top: 0;
}

.footer-social a{
    color: #fdfcfb;
    font-size: 24px;
    margin: 0 10px;
    text-decoration: none;
    transform: color 0.3s;  
}

.footer-social a:hover {
    color:#43362a;
}


/*      Table Section       */

.table-section {
     background-color: #3e3e3e;
     border-radius: 15px;
     padding: 30px;
     margin: 80px auto;
     margin-top: 100px;
     max-width: 800px;
     box-shadow: 0 4px 15px #bd6602a2;
}

.table-section h2 {
    font-size: 24px;
    Color: #bd6602; 
    font-family: "DM Sans", sans-serif;
    margin-bottom: 20px;
    border-bottom: 2px solid #2e2e2e;
    display: inline-block;
    padding-bottom: 5px;
}

.custom-table {
    width: 100%;
    border-collapse: collapse;
}

.custom-table td, .custom-table th {
    padding: 10px;
    border: 1px solid #fdfcfb;
}