h1 {
    font-size: 60px;
    Color: #d56c09;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

p {
    font-size: 20px;
    Color: #b30505;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#secondp {
    font-size: 20px;
    Color: #000000;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#unleash {
    border: 3px outset #d56c09;
    padding: 30px;
}

/* Navigation styles */

nav {
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    padding: 10px 10px;
    z-index: 1000;
    background-color: #1e2126cd;
    box-shadow: 0px 2px 10px #010917;
}

nav ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav li{
    margin: 10px;
}

nav a{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 22px;
    color:#fcf7f3;
    text-decoration: none;
    transition: color 0.3s;
    border-bottom: 0.3s;
    position: relative;
    padding: 10px 10px;
}

nav a:hover {
    color:#43362a;
    /*
    text-decoration: underline;
    text-decoration-color: ;
    */
    border-bottom: 3px solid #fdfcfb;
}